button {
  width: 150px;
  height: 50px;
  background-color: green;
  border: none;
  color: #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(0.95);
}



a {
  display: block;
  margin-top: 30px;
}

body {
  transition: 0.3s all;
}

.black {
  background-color: #000;
}


.red-square {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  background-color: red;
}

.purple-square {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  background-color: rgb(132, 0, 255);
}


.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}

.wrapper {
  margin: 20px 0;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

.link {
  font-weight: 700;
  color: black;
  font-size: 30px;
  display: block;
  text-decoration: none;
  margin: 20px 0;
  transition: .2s all;
}


.link:hover {
  text-decoration: underline;
}